.container {
  margin-top: 2rem;
}

#brand-text {
  text-transform: uppercase;
}

.hidden {
  display: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
  padding: 0;
}

#question-container {
  display: flex;
  min-height: 33vh;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.answer-item {
  background-color: rgb(61, 61, 61);
  color: white;
  border: solid 0.1rem rgb(61, 61, 61);
  transition: 0.3s;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1.3rem;
}

.answer-item:hover {
  background-color: white;
  border: solid 0.1rem rgb(61, 61, 61);
  color: rgb(61, 61, 61);
  cursor: pointer;
}

.answer-item-correct {
  /* background-color: #28a745 */
  background-color: seagreen;
  color: white;
  border: solid 0.1rem seagreen;
}

.answer-item-correct:hover {
  background-color: seagreen;
  color: white;
  border: solid 0.1rem seagreen;
  cursor: default;
}

.answer-item-incorrect {
  /* background-color: #28a745 */
  background-color: #dc3545;
  color: white;
  border: solid 0.1rem #dc3545;
  cursor: default;
}

.answer-item-incorrect:hover {
  background-color: #dc3545;
  color: white;
  border: solid 0.1rem #dc3545;
  cursor: default;
}

.answer-item-not-selected {
  opacity: 0.3;
}

.answer-item-not-selected:hover {
  background-color: rgb(61, 61, 61);
  color: white;
  border: solid 0.1rem rgb(61, 61, 61);
  cursor: default;
}

@media only screen and (max-width: 700px) {
  #question-container {
    padding-top: 1vh;
    padding-bottom: 1vh;
    font-size: 1rem;
  }

  .answer-item {
    padding: 0.75rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
}
